.wrap{
    background-color: rgb(19, 151, 151);
}
.wrap-head{
  padding-bottom: 50px;
}
.wrap-head p{
  line-height: 1px;
    font-size: 20px;
    font-weight: 500;
}
.wrap-circle{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #04d7a2;
}
.wrap-circle2{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #1d214e;
}
.circle-color{
  color: #fff;
  font-weight: 700;
}
.vl {
  border-left: 2px solid green;
  height: 30px;
}
.body-menu .d-flex i{
  font-size: 30px;
  color: green;
}
.img-clean{
  position: relative;
}
.circle{
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: blue;
  color: white;
  display: block;
  padding: 30px 0 0 0;
}
.service-head{
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}
.services{
  padding: 60px 0px;
}
.bookservice{
  padding-bottom: 50px;
}
.slider{
  position: relative;
}
.review{
  padding-bottom: 50px;
}
.grid{
  padding-bottom: 30px;
}
/* .slider-nav .slick-dots li button {
    position: absolute;
    right: 550px;
    top: -280px;
    color: green;
    font-size: 10px;
} */
.img-decoration{
  width: 100%;
  height: 300px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
}
.rect-angle{
  position:absolute;
  bottom: 0;
  right: 15px;
  width: 150px;
  height: 200px;
  background-color: blue;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 35px 0px;
}
.book-head{
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}
.about .d-flex h5{
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
}
.service-number{
  font-size: 20px;
  font-weight: 700;
}
.review-slider .slick-dots li button{
  position: absolute;
  left: -170px;
  top: 12px;
  color: green;
  font-size: 10px;
}
.review .word{
  position: absolute;
  bottom: 14px;
  left: 173px;
  font-weight: 700;
}
.thank{
  position: relative;
}
.thank-link{
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: blue;
  color: #fff;
  padding: 25px;
  position: inherit;
  top: -24px;
}
.button-radius{
  border-radius: 30px;
}
.img-size{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: aqua;
}
.imap{
  width: 300px;
  height: 350px;
  border: 0;
}